.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  gap: 10px;
  /* height: 90px; */
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 0px;
}

.left-nav span {
  position: absolute;
  height: 19px;
  left: 50px;
  top: 29.5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700 !important;
  font-size: 16px;
}

.left-nav .arthshala {
  position: absolute;
  left: 50px;
  top: 48.5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 10px;
}

.middle-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  width: 469px;
  height: 24px;
}

.middle-nav-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 5px;
  width: 88px;
  height: 24px;
}

.middle-nav-icon {
  position: relative;
  left: 8.33%;
  right: 10.42%;
  top: 8.33%;
  bottom: 10.42%;
  /* margin: auto; */
}

.middle-nav div span {
  width: 64px;
  height: 19px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}

.right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 144px;
  height: 42px;
}
